body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.style_section_width {
  width: 100%;
}

.innerSectionWidth {
  width: 1448px;
  margin: auto;
}

/* section -1  */
.style_headingDiv_width {
  max-width: 1248px;
  margin: auto;
  padding: 100px 0px;
}

.headingH1 {
  margin: auto;
  text-align: center;
  font-size: 55px;
  margin-bottom: 50px;
}

.subHeadingP {
  width: 55%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

/* section - 2 */
.buttonSection {
  width: 200px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  border-radius: 5px;
  position: relative;
}

/* section -2/ section - 1 */
.buttonSection > button:first-child {
  height: 100%;
  margin: 0px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px 0px 0px 5px;
}

.buttonSection > button:nth-child(2) {
  height: 100%;
  margin: 0px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0px 5px 5px 0px;
}

.buttonSection > .monthlyBtnStyle:first-child {
  color: #1d37c7;
  border: 2px solid #1d37c7;
  border-radius: 5px 0px 0px 5px;
  background-color: rgb(220, 231, 252);
  font-weight: 700;
}

.buttonSection > .yearlyBtnStyle:nth-child(2) {
  color: #1d37c7;
  border: 2px solid #1d37c7;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(220, 231, 252);
  font-weight: 700;
}

.buttonSection > button:hover {
  background-color: rgb(220, 231, 252);
}

.buttonSection > div:last-child {
  position: absolute;
  width: 150px;
  height: 70px;
  right: -125px;
  top: -36px;
}

.dollerBoxP {
  margin-left: 3px;
  font-weight: bold;
}

.dollerBoxPDecoretion {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: line-through;
}
.socialMediaAppsLogo {
  width: 15%;
  min-width: 250px;
  margin: auto;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}

.pricingBox {
  margin-bottom: 90px;
}

.pricingBox > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.innerPricingBox {
  position: relative;
  width: 21%;
  height: 100%;
  padding: 30px 20px 10px 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pStyleColor {
  color: blue;
  margin: 0px;
}

.pStyleMargin {
  margin-bottom: -20px;
}

.positionRe {
  position: relative;
}

.innerPricingBox > div {
  display: flex;
  align-items: center;
}

.innerPricingBox > div > h1 {
  font-size: 60px;
  margin: 10px 0px;
}

.innerPricingBox > div > h2 {
  font-size: 30px;
}

.innerPricingBox > div > h3 {
  width: 110px;
}

.innerPricingBox > h1 {
  font-size: 35px;
  font-weight: 900;
  margin: 20px 0px;
}

.innerPricingBox > p {
  color: grey;
  margin: 0px;
  line-height: 30px;
}

.checkBoxP {
  margin: 10px 0px;
  margin-left: 3px;
}

.innerPricingBox > button {
  width: 100%;
  font-size: 20px;
  background-color: #2c4bff;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin: 20px 0px;
}

.innerPricingBox > .allFeateres {
  cursor: pointer;
  width: auto;
  margin-top: 30px;
  font-size: 20px;
  color: black;
  width: 45%;
  border-bottom: 1px solid #2c4bff;
}

.innerPricingBox > button:hover {
  cursor: pointer;
  background-color: #1d37c7;
}

.innerPricingBox > .allFeateres:hover {
  color: #1d37c7;
}

.backgroundImage {
  position: absolute;
  top: 300px;
  width: 100%;
  height: 700px;
  background: url("https://buffer.com/static/background/yellow-bg-withpattern.jpg");
}

.backgroundImage > img {
  width: 100%;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

/* section - 3 */
.styleHeight {
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#companiesLogo {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#companiesLogo > div > img {
  width: 100%;
  height: 100%;
}

/* section -4 */

.section4Heading {
  font-size: 40px;
  text-align: center;
  margin: 70px 0px;
}

.section4Heading + table {
  width: 100%;
  margin-bottom: 100px;
}
.tableRow {
  width: 100%;
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto);
  column-gap: 10px;
}

td {
  border: 1px solid;
}

.tdHeadingBox {
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

.tdSideHeadingBox {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.tdSideBox {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px;
}

.tdBox {
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.tdEndBox {
  border-top: none;
  border-radius: 0px 0px 5px 5px;
}
.tdDisplayFlex {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tdTextStyle1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.tdTextStyle2 {
  color: rgb(41, 41, 41);
  margin: 0px;
}

.tdTextStyle3 {
  margin: 0px;
  font-size: 13px;
  font-weight: bold;
}

.tdTextStyle4 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bolder;
}

.tdTextStyle5 {
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
}

.tdButton {
  width: 100%;
  font-size: 20px;
  background-color: #2c4bff;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin: 20px 0px 0px 0px;
}

.trBorderNone {
  border: none;
  margin-bottom: 100px;
}
.tdButton:hover {
  cursor: pointer;
  background-color: #1d37c7;
}

.tdCheckColor {
  color: blue;
}

.tdCheckColor1 {
  color: rgb(183, 183, 183);
}

#tdNew {
  width: 40px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  background-color: #e9edff;
  color: #1d37c7;
  border-radius: 10px;
}
