body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

/* navbar */

#navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarInner {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo > a {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  color: black;
  text-decoration: none;
}

#logo > a > img {
  width: 70%;
  display: flex;
}

#menubar {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 55px;
  color: rgb(179, 179, 179);
}

.LinkStyle {
  color: black;
  text-decoration: none;
  font-size: 17px;
}

#dropDown {
  visibility: hidden;
  position: absolute;
  top: 120px;
  height: 400px;
  left: 0px;
  width: 100%;
  border: 1px solid rebeccapurple;
  background-color: #2c4bff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
}

#select {
  cursor: pointer;
  display: flex;
}
#dropDown > ul > li > a {
  color: white;
  text-decoration: none;
}

#dropDown > ul > li > a:hover {
  text-decoration: underline;
}

#searchBox {
  min-width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#searchBox > span {
  cursor: pointer;
  font-size: 40px;
}

#searchBox button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #2c4bff;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: white;
}

#searchBox button:hover {
  background-color: #273bad;
}

#searchDiv {
  visibility: hidden;
  width: 100%;
  height: 400px;
  top: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#searchDiv > div {
  width: 70%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 30px;
}

#searchDiv > div > input {
  border: none;
  outline: none;
  font-size: 30px;
  padding: 20px;
  width: 95%;
}

#searchDiv > div:last-child {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 30px;
  border: none;
}

#searchDiv > div:last-child button {
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  font-weight: lighter;
}

#close {
  cursor: pointer;
  font-size: 50px;
}
/* main body */
/* section 1 */
#mainBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainBody > section {
  width: 1220px;
}

.borderTop {
  border-top: 1px solid rgb(200, 200, 200);
}
.marginBT {
  margin: 100px 0px;
}
.sectionsDF {
  display: flex;
}

.articleImg {
  width: 50%;
  padding: 40px 40px 20px 0px;
}

.articleImg img {
  width: 100%;
}

.alticleR {
  width: 50%;
}

.pblictn {
  display: flex;
  width: 100%;
  height: 15px;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
}

.alticleR h1 {
  cursor: pointer;
  font-size: 45px;
  margin: 10px 0px;
}

.alticleR h1:hover {
  text-decoration: underline;
}

.contentData {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.readTime {
  margin-left: -20px;
}
.contentData > li:last-child {
  padding: 5px;
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
}

.writers {
  height: 70px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.writers > div:first-child {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.writers > div:first-child > img {
  width: 100%;
  height: 100%;
  border: 4px solid rebeccapurple;
  border-radius: 50%;
}

.writers > div:last-child > h2,
.writers > div:last-child > p {
  margin: 0px;
}

/* section -2 */

.leftBar {
  margin-top: 30px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-right: 20px;
}

.leftBar > div {
  cursor: pointer;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftBar > div:hover > div > h3 {
  text-decoration: underline;
}

.leftBar > div > div > img {
  width: 100%;
  height: 250px;
}

.leftBar > div:hover > div > img {
  width: 101%;
  margin-left: -2px;
  transition: 0.2s;
}

.section2Writer {
  height: 70px;
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.section2Writer > div:first-child {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.section2Writer > div:first-child > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.section2Writer > p:last-child {
  font-size: 12px;
  margin-left: -17px;
}

.contentData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightBar {
  margin: 30px 0px 100px 0px;
  width: 30%;
  padding-left: 20px;
  border-left: 1px solid rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
}

.rightBar > div {
  width: 100%;
  margin-bottom: 30px;
}

.rightBar > span {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: -20px 0px 20px 0px;
}

.rightBar > div:hover {
  cursor: pointer;
  opacity: 0.6;
}

.rightBar > div > img {
  width: 60%;
}

.rightBar > div:nth-child(4) {
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 40px;
}

.rightBar > div:nth-child(4) > img {
  width: 80%;
}

/* section 3 */
hr {
  border-top: 0px solid rgb(209, 209, 209);
  width: 100%;
}
.section3innerDiv {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 50px 0px 80px 0px;
  line-height: 30px;
}

.section3innerDiv > h1 {
  font-size: 35px;
}

.section3innerDiv > div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section3innerDiv > div > input {
  padding: 15px;
  width: 50%;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  outline: none;
}

.section3innerDiv > div > button {
  padding: 12px 30px;
  background-color: #e97284;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section3innerDiv > div > button:hover {
  background-color: #cf485c;
}

/* section 4 */
.section4OuterDiv {
  width: 100%;
  padding: 70px 0px;
  background-color: #231f20;
  margin-bottom: 50px;
}
.section4InnerDiv {
  width: 1220px;
  margin: auto;
  color: white;
}

.section4InnerDiv > img {
  width: 100%;
}

.section4InnerDiv > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section4Left {
  cursor: pointer;
  margin-top: 40px;
  padding-right: 20px;
  border-right: 1px solid grey;
}

.section4Left:hover > h2 {
  color: #27d697;
}

.section4Left > p:first-child {
  font-size: 12px;
  color: grey;
}

.section4Left > img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.section4Left > div {
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section4Left > div > svg {
  width: 25%;
}

.section4Left > div > svg:first-child {
  width: 30%;
}

/* right */
.section4Right {
  margin-top: 40px;
  padding-left: 20px;
}
.section4Right > p:first-child {
  font-size: 12px;
}

.section4Right > div {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 30px;
}

.section4Right > div {
  cursor: pointer;
  margin-bottom: 50px;
}

.section4Right > div:hover > div > h2 {
  color: #27d697;
}

.section4Right > div > div > p:first-child {
  font-size: 12px;
  color: grey;
}

.section4Right > div > img {
  width: 100%;
  border-radius: 5px;
}

.section4Right > span {
  display: flex;
  align-items: center;
  color: #27d697;
  cursor: pointer;
}

.section4Right > span:hover > h4 {
  text-decoration: underline;
}
.section4Right > span:hover > span {
  margin-left: 5px;
}

/* section 5 */

#buttons {
  display: flex;
  border-bottom: 1px solid rgb(211, 211, 211);
  margin-bottom: 30px;
}

#buttons > p {
  cursor: pointer;
  margin-right: 30px;
  color: grey;
  height: 100%;
}

#articles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#articles > div {
  cursor: pointer;
}
#articles > div > div > img {
  width: 100%;
  height: 230px;
}

#articles > div:hover > div > img {
  width: 101%;
  margin-left: -2px;
  transition: 0.2s;
}

#articles > div:hover > div > h3 {
  text-decoration: underline;
}

/* main end here */

#blueBox {
  margin-top: 100px;
  width: 100%;
  background-color: #2c4bff;
  padding: 50px 0px;
}

#blueBox > div:first-child {
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  opacity: 0.5;
}

#blueBox > div:nth-child(2) {
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 21px;
}

#blueBox > div button {
  margin: 20px 0px;
  padding: 12px 30px;
  background-color: #e97284;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#blueBox > div button:hover {
  background-color: #cf485c;
}

#blueBox > ul {
  display: flex;
}

#blueBox > div:nth-child(3) {
  width: 17%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}

#blueBox > div:nth-child(3) > span {
  color: rgb(185, 185, 185);
  font-size: 12px;
  margin-right: -15px;
}

/* footer box */

#footer {
  width: 100%;
  padding: 80px 0px 0px 0px;
}

.innerFooter {
  margin: auto;
  width: 1400px;
  height: 60%;
  display: grid;
  grid-template-columns: 30% 1fr;
  border-bottom: 1px solid rgb(215, 215, 215);
  margin-bottom: 50px;
}

#footer > .innerFooter:nth-child(2) {
  border-bottom: none;
}
.innerFooter > div:first-child > a > img {
  width: 35%;
}

#footerLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  line-height: 40px;
  font-size: 18px;
  color: rgb(61, 61, 61);
}

#footerLinks h4 {
  margin: -20px 0px 10px 0px;
}

#footerLinks li:hover {
  cursor: pointer;
  color: #2c4bff;
}
#socialLink {
  width: 100%;
  display: flex;
  font-size: 35px;
  color: black;
}

#socialLink > a {
  margin-right: 40px;
  color: black;
}

#socialLink > a :hover {
  color: #273bad;
}

#socialLink + p {
  font-size: 13px;
}

#getStaredBtn {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

#getStaredBtn button {
  margin-left: 20px;
  padding: 12px 30px;
  background-color: #2c4bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#getStaredBtn button:hover {
  background-color: #273bad;
}

#footer > div:last-child {
  width: 100%;
  background-color: whitesmoke;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: grey;
}
