body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    overflow: hidden;
}

#loginDiv {
    padding: 45px;
    display: grid;
    gap: 2px;
}

#loginDiv img {
    width: 30%;
}

input {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    border-radius: 2px;
}

label {
    font-size: 14px;
    color: black;
    font-weight: 500;
}

a {
    color: rgb(75, 75, 75);
    text-decoration: none;
    font-size: 14px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.para {
    display: grid;
    font-size: 14px;
    width: 90%;
    margin: auto;
    text-align: center;
    color: rgb(145, 145, 145);
}

h1 {
    font-size: 32px;
}

#button {
    background-color: #2c4bff;
    color: white;
    border-radius: 5px;
}

#button:hover {
    background-color: rgb(0, 0, 255);
    cursor: pointer;
}

#terms {
    margin-top: 10%;
    text-align: center;
}


/* second div starting from here: */
#top {
    margin-left: 10%;
    margin-top: 7%;
    background-color: #fff;
    border: none;
    width: 12%;
    font-size: 14px;
    padding: 6px 0px 4px 15px;
    border-radius: 50px;
}

h2 {
    color: #232323;
    font-family: roboto, "Helvetica Neue", "Helvetica";
    font-size: 35px;
    width: 40%;
    text-align: left;
    font-style: normal;
    line-height: 46px;
    font-weight: 800;
    margin-left: 10%;
    max-width: 460px;
}

h2+p {
    margin-left: 10%;
    width: 43%;
    text-align: left;
    font-size: 18px;
    line-height: 23px;
    max-width: 400px;
}

#imgDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fade2a;
    overflow:hidden;
}

#imgDiv img {
    margin-left: 10%;
    margin-top: -9%;
    width: 100%;
}

* {
    font-family: roboto, arial, helvetica, sans-serif;
}