/* @media (min-width:1250px) {

} */


#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

#logo {
    padding: 10px;
}

h1{
    letter-spacing: -0.75px;
}

#logo img {
    width: 12%;
    margin-left: 3%;
    margin-top: 2%;
}

#signup-form {
    padding: 80px;
    display: grid;
}

#form {
    margin-top: 2%;
    margin-left: 20%;
    width: 52%;
    display: grid;
    gap: 5px;
}

#terms {
    display: flex;
    justify-content: space-between;
}

a {
    color: rgb(75, 75, 75);
    text-decoration: none;
    font-size: 14px;
}

label {
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-bottom:5px;
}

.input{
    margin-bottom: 10px;
    margin-top: 10px;
}
.g-recaptcha{
    margin-bottom: 10px;
}
input {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 2px;
}

#button {
    background-color: #e0e0e0;
    border-radius: 5px;
    border: none;
}


#signUp {
    display: grid;
    gap: 20px;
}

#empty {
    height: 90px;
}

* {
    font-family: roboto, arial, helvetica, sans-ser;
}

.blue {
    color: blue;
}

/* second div starting from here: */
#imgDiv {
    background-image: url("https://static.buffer.com/login/public/img/signup-bkg-publish.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
}

#imgDiv>div {
    display: grid;
    gap: 20px;
    color: white;
}

#imgDiv>div div {
    width: 80%;
    margin: auto;
}

#p {
    letter-spacing: -0.75px;
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 85%;
}

#img>p{
    margin: auto;
    width: 80%;
    padding: 1%;
    text-align: center;
}

#img>img{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 10px;
}

#button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}